div {
  border: black solid thin;
  background: grey;
}

@media(min-width: 768px) {
  div {
    border: green solid thick;
    background: brown;
  }
}

@media(min-width: 1024px) {
  div {
    border: red solid thick;
    background: black;
    color: green;
  }
}